{% extends 'base.html' %} {% block title %}
<h1 class="m-3 text-center">Sacar Turno</h1>
{% endblock %} {% block content %}
<!-- {% if messages %}
<div>
<ul >
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} messages alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" {% endif %}>{{ message }}
    <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %} -->
<a href="{% url 'Estudios' %}" class="">Volver</a>
<div class="m-3">
  <form action="{% url 'Buscar_Turno' id=estudio.id %}" method="POST">
    {% csrf_token %} {{ form.fecha.label }} {{ form.fecha }}
    {% for error in form.fecha.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Buscar turnos" />
  </form>
</div>
{% endblock %}
