{% extends 'base.html' %} {% block title %}
<h1 class="m-3 text-center">Cargar consentimiento informado firmado</h1>
{% endblock %} {% block content %}
<a href="{% url 'Estudios' %}" class="">Volver</a>
<div class="m-3">
<form action="{% url 'Cargar_Consentimiento' id=estudio.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label
          >Consentimiento informado</label
        >
      </div>
      <div class="form-group">
        {{ form.archivo }}
      </div>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Cargar" />
</form>
</div>
{% endblock %}