{% extends 'base.html' %} {% block title %}
<h1 class="m-3 text-center">Estudios</h1>
{% endblock %} {% block content %}
{% if messages %}
<div>
<ul >
    {% for message in messages %}

      {% if message.tags == 'error'  %}
      <li{% if message.tags %} class="{{ message.tags }} messages alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" {% endif %}>{{ message }}
        <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </li>
      {% else %}
      <li{% if message.tags %} class="messages alert alert-{{ message.tags }} alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" {% endif %}>{{ message }}
      <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
      </li>
      {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}
<div class="row ml-1">
  <a href="{% url 'Crear_Estudio' %}" class="btn btn-success mb-3 col-auto"
    >Crear Estudio</a
  >
  <div class="col-auto w-25">
    <input
      class="form-control"
      type="text"
      id="filtroInputIndex"
      onkeyup="filtro()"
      placeholder="Buscar por texto"
    />
  </div>
<table class="table table-striped" id="estudios">
  <thead class="thead-dark">
    <tr>
      <th class="sortable" scope="col" onclick="ordenar()" style="cursor:pointer">Paciente&#8593&#8595</th>
      <th class="sortable" scope="col" onclick="ordenar()" style="cursor:pointer">Médico Derivante&#8593&#8595</th>
      <th class="sortable" scope="col" onclick="ordenar()" style="cursor:pointer">Tipo Estudio&#8593&#8595</th>
      <th class="sortable" scope="col" onclick="ordenar()" style="cursor:pointer">Estado&#8593&#8595</th>
      <th scope="col" >Abonado</th>
      <th class="sortable" scope="col" onclick="ordenar()" style="cursor:pointer">Retrasado&#8593&#8595</th>
      <th scope="col">Fecha Alta</th>
      <th class="sortable" scope="col" onclick="ordenar()" style="cursor:pointer">Presupuesto&#8593&#8595</th>
      <th class="sortable" scope="col" onclick="ordenar()" style="cursor:pointer">Diagnostico Presuntivo&#8593&#8595</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for estudio in estudios %}
    <tr>
      <td id="paciente">
        {{estudio.paciente.apellido}} {{estudio.paciente.nombre}}
      </td>
      <td>
        {{estudio.medicoDerivante.apellido}} {{estudio.medicoDerivante.nombre}}
      </td>
      <td>{{estudio.tipoEstudio}}</td>
      <td><strong>{{estudio.estado.nombre}}</strong></td>
      {% if estudio.abonado %}
      <td>SI</td>
      {% else %}
      <td>NO</td>
      {% endif %}
      {% if estudio.retrasado %}
      <td>SI</td>
      {% else %}
      <td>NO</td>
      {% endif %}
      <td>{{estudio.fechaAlta}}</td>
      <td>{{estudio.presupuesto}}</td>
      <td>{{estudio.patologia}}</td>
      <td>
        <!-- {% if estudio.estado.detalle == "1"%}
          {% if not conf.modoPacienteObligado %}
        <a
          href="{% url 'Cargar_Comprobante' id=estudio.id %}"
          class="btn btn-warning mb-2"
          >Cargar comprobante</a
        >
          {% endif %}
        <a href="{% url 'Editar_Estudio' id=estudio.id %}" class="btn btn-info"
          >Editar</a
        >
        {% elif estudio.estado.detalle == "2" %}
        <a
          href="{% url 'Descargar_Consentimiento' id=estudio.id %}"
          class="btn btn-warning mb-2"
          onclick="recargar()"
          >Descargar consentimiento</a
        >
        <a href="{% url 'Editar_Estudio' id=estudio.id %}" class="btn btn-info"
          >Editar</a
        >
        {% elif estudio.estado.detalle == "3"%}
          {% if not conf.modoPacienteObligado %}
        <a href="{% url 'Cargar_Consentimiento' id=estudio.id %}" class="btn btn-warning mb-2">Cargar consentimiento</a>
          {% endif %}
        <a href="{% url 'Editar_Estudio' id=estudio.id %}" class="btn btn-info"
          >Editar</a
        >
        {% elif estudio.estado.detalle == "4"%}
          {% if not conf.modoPacienteObligado %}
        <a href="{% url 'Buscar_Turno' id=estudio.id %}" class="btn btn-warning mb-2">Seleccionar turno</a>
          {% endif %}
        <a href="{% url 'Editar_Estudio' id=estudio.id %}" class="btn btn-info"
          >Editar</a
        >
        {% elif estudio.estado.detalle == "5" %}
        <a href="{% url 'Cargar_Muestra' id=estudio.id %}" class="btn btn-warning mb-2">Cargar muestra</a>
        <a href="{% url 'Editar_Estudio' id=estudio.id %}" class="btn btn-info"
          >Editar</a
        >
        {% elif estudio.estado.detalle == "6" %}
        <a href="{% url 'Retiro_Muestra' id=estudio.id %}" class="btn btn-warning mb-2">Cargar retiro muestra</a>
        <a href="{% url 'Editar_Estudio' id=estudio.id %}" class="btn btn-info"
          >Editar</a
        >
        {% elif estudio.estado.detalle == "8" %}
        <a href="{% url 'Cargar_Interpretacion' id=estudio.id %}" class="btn btn-warning mb-2">Cargar interpretación</a>
        {% elif estudio.estado.detalle == "9" %}
        <a href="{% url 'Descargar_Estudio' id=estudio.id %}" class="btn btn-warning mb-2">Descargar estudio</a>
        <a href="{% url 'Resultado_Entregado' id=estudio.id %}" class="btn btn-success mb-2">Resultado entregado</a>
        {% elif estudio.estado.detalle == "10" %}
        <a href="{% url 'Descargar_Estudio' id=estudio.id %}" class="btn btn-dark mb-2">Descargar estudio</a>
        {% endif %} -->
        <a href="{% url 'Detalle_Estudio' id=estudio.id %}" class="btn btn-info"
          >Ver detalle</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if not estudios %}
  <p class="alert alert-danger text-center w-100">¡No hay estudios cargados!</p>
{% endif %}
<script>
  function recargar() {
    setTimeout(function () {
      location.reload();
    }, 400);
  }

  function filtro() {
    let input, filter, table, opt, td, i, txtValue;
    input = document.getElementById("filtroInputIndex");
    filter = input.value.toUpperCase();
    elementos = document.getElementById("estudios");
    tr = elementos.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      td = tr[i];
      console.log(td);
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function ordenar(selector, compFunc) {
      var mySelector = '.sortable';
      var myCompFunc = function($td1, $td2, isAsc) {
        var v1 = $.trim($td1.text()).replace(/,|\s+|%/g, '');
        var v2 = $.trim($td2.text()).replace(/,|\s+|%/g, '');
        var pattern = /^\d+(\.\d*)?$/;
        if (pattern.test(v1) && pattern.test(v2)) {
          v1 = parseFloat(v1);
          v2 = parseFloat(v2);
        }

        return isAsc ? v1 > v2 : v1 < v2;
      };

      var doSort = function($tbody, index, compFunc, isAsc)
      {
        var $trList = $tbody.find("tr");
        var len = $trList.length;
        for(var i=0; i<len-1; i++) {
          for(var j=0; j<len-i-1; j++) {
            var $td1 = $trList.eq(j).find("td").eq(index);
            var $td2 = $trList.eq(j+1).find("td").eq(index);

            if (compFunc($td1, $td2, isAsc)) {
              var t = $trList.eq(j+1);
              $trList.eq(j).insertAfter(t);
              $trList = $tbody.find("tr");
            }
          }
        }
      }

      var init = function() {
        var $th = $("th" + selector);
        this.$table = $th.closest("table");
        var that = this;
        $th.click(function(){
          var index = $(this).index();
          var asc = $(this).attr('data-asc');
          isAsc = asc === undefined ? true : (asc > 0 ? true : false);

          doSort(that.$table.find("tbody"), index, compFunc, isAsc);

          $(this).attr('data-asc', 1 - (isAsc ? 1 : 0));
        });
      };


      selector = selector || mySelector;
      compFunc = compFunc || myCompFunc;

      init();
    }
</script>
{% endblock %}
