{% extends 'base.html' %}

{% block title %}
<h1 class="m-3 text-center">Estudios</h1>
{% endblock %}

{% block content %}
{% if messages %}
<div>
<ul >
    {% for message in messages %}

    {% if message.tags == 'error'  %}
        <li{% if message.tags %} class="{{ message.tags }} messages alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" {% endif %}>{{ message }}
        <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </li>
    {% else %}
        <li{% if message.tags %} class="{{ message.tags }} messages alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" {% endif %}>{{ message }}
        <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </li>
    {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}
<div class="row m-2">
    <div class="form-inline">
        <!-- <label for="filtroInputIndex" class="form-">Filtrar</label> -->
        <input class="form-control" type="text" id="filtroInputIndex" onkeyup="filtro()"
            placeholder="Buscar por texto" />
    </div>
</div>
<table class="table table-striped mt-2" id="estudios">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Médico Derivante</th>
            <th scope="col">Tipo Estudio</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha Alta</th>
            <th scope="col">Presupuesto</th>
            <th scope="col text-center">Pagar</th>
        </tr>
    </thead>
    <form action="{% url 'Pagar' %}" method="POST">
        <tbody>
            {% csrf_token %}
            {% for estudio in estudios %}
            <tr>
                <td id='paciente'>{{estudio.paciente.nombre}} {{estudio.paciente.apellido}}</td>
                <td>
                    {{estudio.medicoDerivante.nombre}} {{estudio.medicoDerivante.apellido}}
                </td>
                <td>{{estudio.tipoEstudio}}</td>
                <td>{{estudio.estado.nombre}}</td>
                <td>{{estudio.fechaAlta}}</td>
                <td>{{estudio.presupuesto}}</td>
                <td class="text-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{estudio.id}}" name="estudios[]"
                            id="flexCheckDefault" required >
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <input type="submit" class="btn btn-success ml-2" value="Pagar" />
    </form>
</table>


<script>
    function filtro() {
        let input, filter, table, opt, td, i, txtValue;
        input = document.getElementById("filtroInputIndex");
        filter = input.value.toUpperCase();
        elementos = document.getElementById("estudios");
        tr = elementos.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i];
            console.log(td)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }



</script>
{% endblock %}