{% extends 'base.html' %} {% block title %}
<h1 class="m-3 text-center">Turnos disponibles para {{ form.fecha.value }}</h1>
{% endblock %} {% block content %}
<a href="{% url 'Estudios' %}" class="">Volver</a>
{% if messages %}
<div>
<ul >
    {% for message in messages %}

      {% if message.tags == 'error'  %}
      <li{% if message.tags %} class="{{ message.tags }} messages alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" {% endif %}>{{ message }}
        <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </li>
      {% else %}
      <li{% if message.tags %} class="{{ message.tags }} messages alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" {% endif %}>{{ message }}
      <button type="button" class="btn btn-danger btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
      </li>
      {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}
<div class="m-3">
<form action="{% url 'Seleccionar_Turno' id=estudio.id %}" method="POST">
  {% csrf_token %}
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <label for="{{ form.fecha.id_for_label }}">{{ form.fecha.label }}</label>
      {{ form.fecha }}
    </div>
    <div class="form-group">
      <label for="{{ form.hora.id_for_label }}">{{ form.hora.label }}</label>
      {{ form.hora }}
    </div>
  </div>
</div>
  <input type="submit" class="btn btn-primary w-50" value="Guardar Turno" />
</form>
</div>
{% endblock %}