{% extends 'basePacientes.html' %} {% block title %}
<h1 class="m-3 text-center">Sacar Turno</h1>
{% endblock %} {% block content %}
<a href="{% url 'Estudios_Paciente' %}" class="">Volver</a>

<div class="m-2">
  <form action="{% url 'Buscar_Turno_Paciente' id=estudio.id %}" method="POST">
    {% csrf_token %} {{ form.fecha.label }} {{ form.fecha }}
    {% for error in form.fecha.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
    <input type="submit" class="btn btn-primary mt-2 w-50" value="Buscar turnos" />
  </form>
</div>
{% endblock %}
