
<h1 class="m-3 text-center">Crear paciente</h1>
{% endblock %}

{% block content %}
<a href="{% url 'Pacientes' %}" class="mb-5">Volver</a>
<form action="{% url 'Pacientes' %}" class="mt-5" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="{{ form.nombre.id_for_label }}">Nombre</label>
        {{form.nombre}}
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="{{ form.apellido.id_for_label }}">Apellido</label>
        {{form.apellido}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <label for="{{ form.dni.id_for_label }}">DNI</label>
      {{form.dni}}
      <small id="dniHelp" class="form-text text-muted">Ingrese su DNI sin puntos</small>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="{{form.fechaNacimiento.id_for_label}}">Fecha de Nacimiento</label>
        {{form.fechaNacimiento}}
      </div>
    </div>
  </div>
  <div class="row" id="tutor">

  </div>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="obraSocialPaciente">Obra Social</label>
        <select class="form-control" id="obraSocialPaciente" name="obraSocial">
          <option value="0">--Seleccionar Obra Social--</option>
          {% for obra in obras %}
          <option value="{{obra.id}}">{{obra.nombre}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="{{ form.nombre.id_for_label }}">Email</label>
        {{form.email}}
      </div>
    </div>
  </div>
  <div class="row">
    
    <div class="col-sm">
      <label for="{{ form.telefono.id_for_label }}">Telefono</label>
      {{form.telefono}}
      <small id="telefonoHelp" class="form-text text-muted">Ingrese su telefono sin "-"</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Cargar paciente</button>
</form>
<p id="result"></p>
<script>
  function checkEdad(event) {
    console.log(event.target.value)
    var value = event.target.value;
    var inDate = new Date(value);
    var anio = inDate.getFullYear();
    var fec_actual = new Date();
    var fec_anio = fec_actual.getFullYear();
    var edad = fec_anio - anio;
    if (edad >= 18) {
      document.getElementById("tutor").innerHTML = "";
    } else {
      //Agregar campos para tutor
      mainDiv = document.getElementById("tutor");
      mainDiv.innerHTML=""

      divCol1 =  document.createElement("div");
      divCol2 =  document.createElement("div");

      divCol1.classList.add("col-sm")
      divCol2.classList.add("col-sm")

      label1 = document.createElement("label")
      label1.setAttribute('for', '{{ form.nombreTutor.id_for_label }}' )
      text1 = document.createTextNode("Nombre Tutor")
      label1.appendChild(text1)
      
      label2 = document.createElement("label")
      label2.setAttribute('for', '{{ form.apellidoTutor.id_for_label }}' )
      text2 = document.createTextNode("Apellido Tutor")
      label2.appendChild(text2)
      
      divCol1.innerHTML = '{{form.nombreTutor}}'
      divCol1.appendChild(label1)
      divCol2.innerHTML = '{{form.apellidoTutor}}'
      divCol2.appendChild(label2)
      
      mainDiv.appendChild(divCol1)
      mainDiv.appendChild(divCol2)
    
    }
  }
</script>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>