<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body class=" container mt-5 d-flex justify-content-center">
    <div class="p-5 bg-dark rounded">
        <div class="m-5">
            <h1 class="text-white">Iniciar Sesión</h1>
        </div>
        <form action="{% url 'Home' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="text-white" for="{{ form.usuario.id_for_label }}">Nombre de usuario</label>
                {{ form.usuario }}
            </div>
            <div class="mb-3">
                <label class="text-white" for="{{ form.password.id_for_label }}" class="">Contraseña</label>
                {{ form.password }}
            </div>
            <input type="submit" value="Iniciar Sesión" class="btn btn-primary w-100">
        </form>
    </div>
</body>
</html>